@model BusinessLayer.Models.StudentViewModel

@{
    ViewBag.Title = "Register3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please validate your account</h2>

<div>
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAdress)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <input type="button" value="Validare Cont" class="btn btn-primary" onclick="location.href='@Url.Action("ValidationAccount", "Register", new { userName = Model.UserName })'" />
    </div>
</p>
