@model IEnumerable<BusinessLayer.Models.HomeworkViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHomeworks</title>
</head>
<body>
  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
           
        </tr>
    }
    
    </table>
</body>
</html>
