@model IEnumerable<BusinessLayer.Models.StudentHomeworkViewModel>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homeworks</h2>

@if (Model.Count() != 0)
{
    <table class="table table-hover" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th>
                @* @Html.Display("Status")*@
                Status
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>

            <th>
                Files
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Requirements)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StatusID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>

                    @if (item.Path == "")
                    {
                        if (item.StatusID != "Rejected")
                        {
                            <div class="container">
                                @using (Html.BeginForm("UploadHomeworkFiles", "StudentHomeworks", new { SHomeID = @item.SHomeID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <table class="table">
                                        <tr>
                                            <td>File:</td>
                                            <td><input type="file" name="Files" id="Files" multiple /></td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                            <td><input type="submit" name="submit" value="Upload" /></td>

                                        </tr>
                                    </table>
                                }

                            </div>
                        }
                        else
                        {
                            <p class="alert-danger">You can't upload this homework anymore. </p>
                        }
                    }
                    else
                    {

                        //string username = Request.Cookies["UserSettings"].Values["UserName"];
                        string[] s = item.Path.Split(' ');
                        foreach(var file in s)
                        {
                            @file
                        }

                        
                    }
                </td>
            </tr>

        }
    </table>
    @*<button value="Save as PDF">*@
    @Html.ActionLink("Save as PDF", "GeneratePDF", new { reportID = Request.QueryString["ReportID"] }, "Student")
    @*</button>*@
}

else
{
    <h3>
        You don't have homeworks!!!
    </h3><br />
    @*if (Model.First().information=="all")
        { <img src="/yuhu.png" />}*@


}